.App {
  background: linear-gradient(to right, #e5bdf6, #d8dede);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: large;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.palatte {
  height: 600px;
  width: 1200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  background-color: transparent;
  justify-content: center;
}

.color_lines {
  margin-top: -350px;
  margin-left: -5px;
  width: 1210px;
  height: 50px;
  display: flex;
  background-color: transparent;
  z-index: 1;
  column-gap: 8px;
  flex-direction: row;
}

.color_button {
  flex: 1;
  height: 100%;
  width: 60%;
  /* border: 0.1px solid black; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0.1px 0.1px;
}

.colour_pick {
  margin-top: 10px;
  margin-left: 500px;
  height: 50px;
  width: 200px;
  background-color: rgb(2, 161, 2);
  z-index: 1;
  font-size: smaller;
  align-items: center;
  text-align: center;
}

#i1 {
  margin-top: 10px;
  color: white;
}
